/* You can add global styles to this file, and also import other style files */
*{
  overflow: hidden;
}
html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: 'Major Mono Display', monospace;
}
